torch
numpy
tqdm
jsonschema
nbformat
plotly  # For the heatmap visualization
ipython # For IPython.display
scipy # For linear_sum_assignment
kaleido # For saving plotly figures as PNG files
pytest # For testing